/* #region Common */
:root {
    --dc-dark: #1d1c1d;
    --dc-light: white;
    --dc-primary: #0c7dedff;
    --dc-secondary: #313130;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}
/* #endregion Common */
/* #region header main footer */
header {
    background-color: var(--dc-light);

    #top-line {
        background-color: var(--dc-primary);
        height: 20px;

        .top-line-container {
            height: 100%;
            display: flex;
            justify-content: end;
            align-items: center;

            .top-banners {
                text-transform: uppercase;
                font-size: 10px;

                & span {
                    margin-right: 1rem;
                }
            }
        }
    }

    #header-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        & .logo > img {
            width: 70px;
        }

        & ul {
            display: flex;
            gap: 1rem;
            text-transform: uppercase;
            font-size: 12px;
            list-style: none;

            & > li {
                padding: 2rem 0;
                border-bottom: 4px solid transparent;

                & > a {
                    color: var(--dc-secondary);
                    font-weight: 600;
                }
            }

            & > li:hover {
                border-bottom: 4px solid var(--dc-primary);
            }
        }

        & input[type="text"] {
            border: none;
            outline: none;
            border-bottom: 3px solid var(--dc-primary);
            text-align: end;
        }
    }

    #jumbotron {
        .jumbotron {
            height: 320px;
            background-image: url("../images/jumbotron.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

main {
    #comics {
        text-transform: uppercase;
        background-color: var(--dc-dark);
        color: var(--dc-light);
        padding-bottom: 1rem;

        & h3 {
            display: inline-block;
            padding: 1rem 2rem;
            background-color: var(--dc-primary);
            margin: -2rem 0 0.5rem;
        }

        .card {
            .thumb {
                overflow: hidden;
                height: 180px;
            }
            .series {
                font-size: 12px;
            }
            & > img {
                /* aspect-ratio: 1; */
                /* object-fit: cover; */
                /* object-position: top; */
            }
        }

        .loadmore {
            text-align: center;
            margin-top: 2rem;

            & button {
                background-color: var(--dc-primary);
                color: var(--dc-light);
                padding: 0.5rem 2rem;
                border-style: none;
                text-transform: uppercase;
            }
        }
    }

    #banners {
        .banner {
            background-color: var(--dc-primary);
            color: var(--dc-light);
            padding: 2rem 0;

            & > .container {
                display: flex;
                justify-content: space-evenly;
            }

            & .item {
                display: flex;
                align-items: center;
                gap: 1rem;

                img {
                    height: 60px;
                }

                span {
                    text-transform: uppercase;
                    font-size: 0.8rem;
                }
            }
        }
    }

    #action_page {
        .top-line {
            background-color: var(--dc-primary);
            height: 40px;
        }
        .infos {
        }
    }
}

footer {
    & > .top {
        background-image: url("../images/dc-logo-bg.png"),
            url("../images/footer-bg.jpg");
        background-repeat: no-repeat;
        background-size: 600px, cover;
        background-position: 80%, top;
        padding-bottom: 2rem;

        & h4 {
            color: var(--dc-light);
            margin: 1.5rem 0;
            text-transform: uppercase;
        }

        & ul a {
            color: gray;
            line-height: 1.5rem;
            font-size: 0.9rem;
        }
    }

    & > .bottom {
        padding: 1.5rem 0;
        background-color: var(--dc-secondary);

        & .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        & .signup {
            border: 1px solid var(--dc-primary);
            padding: 0.75rem;
            color: var(--dc-light);
            text-transform: uppercase;
        }
        & .social {
            display: flex;
            align-items: center;
            gap: 1rem;

            & strong {
                text-transform: uppercase;
                color: var(--dc-primary);
            }
        }
    }
}
/* #endregion header main footer */
/* #region Layout */
.container {
    width: 70%;
    margin: auto;
}

.container_action {
    width: 50%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class^="col-"] {
    padding: 1rem;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-12 {
    width: 100%;
}

.col {
    width: auto;
    flex-basis: auto;
    padding: 1rem;
}
/* #endregion Layout */

/* Utilities */

.list-unstyled {
    list-style: none;
}

/* action page */

.action_banner {
    position: relative;
    top: -220px;
    left: calc(25% + 1rem);
    border: 2px solid white;
}
